* {
	margin: 0; padding-top: 0; font-family: helvetica;
}

header{
	margin: 100px auto;
	width: 1080px;
	height: 210px;
}

div.contact {
	width: 180px; height: 210px;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 210px;
}

div.contact > p.label {
	font-size: 1.1em;
	color: black;
	opacity: .6;
	line-height: 90px;
	background-color: white;

}



div.row1 {
	display: inline-block;
}
div.row2 {
	display: inline-block;
}
div.one {
	background-color: LightSteelBlue;
}

div.two {
	background-color: LightBlue;
}

div.three {
	background-color: darkgray;
}

div.four {
	background-color: tan;
}

div.five {
	background-color: silver;
}

div.six {
	background-color: SkyBlue; 
}

img.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background: rgba(255,255,255,.2);
	border-radius: 50%;
	box-shadow: 0px 0px 0px 15px rgba(255,255,255,.2);
	transition: box-shadow .4s;
	
}



div.contact:hover img.icon{
	
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .7);

}
	